
PCB Ver Stuff/PCB Files/BOM_Pixel Mask_2020-10-21_10-26-01.csv
PCB Ver Stuff/PCB Files/Left/PickAndPlace_Left Half PCB_2020-10-21_10-26-27.csv
PCB Ver Stuff/PCB Files/IMG_20201108_145438.jpg
PCB Ver Stuff/PCB Files/IMG_20201108_150416.jpg
PCB Ver Stuff/PCB Files/Right + Left/PickAndPlace_Left  Right Panel_2020-10-21_10-26-17.csv
PCB Ver Stuff/PCB Files/Right/PickAndPlace_Right PCB Half_2020-10-21_10-26-34.csv
PCB Ver Stuff/PCB Files/Left/Gerber_Left Half PCB.zip
PCB Ver Stuff/PCB Files/Right + Left/Gerber_Left  Right Panel.zip
PCB Ver Stuff/PCB Files/Right/Gerber_Right PCB Half.zip
